<launch>
    <param name="use_sim_time" value="false"/>

    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find driving_simulator)/src/simulator.rviz " />
    <node name="map_server" pkg="map_server" type="map_server" args="$(find driving_simulator)/src/map.yaml" output="screen"/>
    <node name="tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /map /my_frame 10"/>

    <!--Publish the Marker pose-->
    <node name="DESPOT" pkg="driving_simulator" type="DESPOT" respawn="false" output="log"/>
    <node name="DESPOT1" pkg="driving_simulator" type="DESPOT1" respawn="false" output="log"/>
    <node name="DESPOT2" pkg="driving_simulator" type="DESPOT2" respawn="false" output="log"/>
    <node name="DESPOT3" pkg="driving_simulator" type="DESPOT3" respawn="false" output="log"/>
    <node name="MultipolicyMPC" pkg="driving_simulator" type="MultipolicyMPC" respawn="false" output="log"/>
    <node name="DriverModel" pkg="driving_simulator" type="DriverModel" respawn="false" output="screen"/>
    <node name="DriverModel1" pkg="driving_simulator" type="DriverModel1" respawn="false" output="screen"/>
    <node name="DriverModel2" pkg="driving_simulator" type="DriverModel2" respawn="false" output="screen"/>
    <node name="DriverModel3" pkg="driving_simulator" type="DriverModel3" respawn="false" output="screen"/>
</launch>
